.blackBtn {
    background-color: #0FFF50;
    color: #000;
    width: 11rem;
    height: 3.5rem;
    font-size: 18px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    border: none;
    font-weight: bold;
    margin: 1rem;
}

.blackBtn:hover {
    background-color: #355E3B;
}